/*Contenedor del formulario de contacto*/

.contact-form-container{
    width:100%;
    height:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(51, 50, 50,0.95);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}

/*Formulario de contacto*/
.contact-form-container form{
    height: auto;
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contact-form-container form h2{
    color: #ff7b00e1;
    letter-spacing: 1px;
    font-size: 24px;
    text-align: left;
    margin:20px;
}

.input-map-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location-map{
    width: 50%;
    margin: 0 20px 20px 20px;
    align-self: flex-start;
}

.form-inputs-container{
    width:50%;
    margin-left: 20px;
    align-self: space-around;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.form-inputs-container input,textarea{
    margin-bottom: 20px;
    outline: none;
    height: 30px;
    width: 70%;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 6px 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border-style: none;
    border:#a4a4a4 solid 1px;
}


.form-inputs-container input::placeholder,textarea::placeholder{
    color: #414141;
    font-weight: 300;
}

.form-inputs-container input:valid, textarea:valid{
    box-shadow: 0px 0px 2px 0.1px #4ba700;
    background-color: #b9da99;
}

.form-inputs-container input:invalid, textarea:invalid{
    box-shadow: 0px 0px 2px 0.1px #ff0000;
    background-color: #fac1c1;
}

.form-inputs-container input:placeholder-shown,textarea:placeholder-shown{
    box-shadow: none;
    background-color:#ffffff;
}

.form-inputs-container input:focus,textarea:focus{
    outline:none;
    box-shadow: 0px 0px 5px 1px #101010;
}

/* sobreescribimos las propiedades de la caja de comentarios */
.form-inputs-container textarea{
    resize:none;
    width: 100%;
    min-width: 300px;
    height: 200px;
}

.form-btn-container{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-btn-container button{
    background-color: #0d043a;
    color:#ffffff;
    padding: 8px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition-duration: 0.4s;
}


.form-btn-container button:hover{
    opacity: 0.92;
    background-color: #723802e1;
}

.form-btn-container a{
    margin-right: 30px;
}



