*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

/* html{
    height: 100%;
    width: 100%;
    padding: 7px;
} */

body{
    padding: 5px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: antiquewhite;
}


nav{
    margin: 10px 5% 0px 5%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(177, 174, 174);
    border-radius: 7px;
}

img{
    width: 80px;
    height: 80px;
}

li{
    display: inline;
    list-style: none;
    padding-right: 15px;
}

section{
    height: 80%;
    margin: 0px 5% 0px 5%;
    background-color: white;
}

