*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2389580a' fill-opacity='0.66' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}





/* Clases */


/* Contenedor principal del documento. Se utiliza para definir los margenes */
.container{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Header of the page*/
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 20px 15px;
    background-color: rgba(51, 50, 50,0.95);
    border-radius: 5px;
}


/* Img - logo */

.nav-logo{
    width: 80px;
    box-shadow: 0px 0px 1px 2px #ffffff;
    border-radius: 2px;
}


/* Nav - words and search-button */

.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu li{
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu li a{
    padding: 2px;
}

.nav-menu li a:hover{
    border-bottom: 2px solid #ffffff;
}


/* Burguer Menu */
.menu-burguer-btn{
    color:white;
    z-index:2;
    font-size: 0.9rem;
    cursor: pointer;
}

.menu-burguer-btn{
    order:3;
}

.check-toggle{
    display: none;
}

.check-toggle:checked ~ .nav-menu{
    display: block;
    position: absolute;
    top:0;
    left:0;
    background-color: #333232;
    height: 100%;
    opacity: 0.95;
    padding:30px;
    transform: translate(-5px);
}





/* Main Info section */

.main-info{
    width:100%;
    height:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(51, 50, 50,0.95);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}


.institutional{
    height: auto;
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.business-name{
    color: #ff7b00e1;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    margin:20px;
}

.institutional-presentation{
    display: block;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

/* Button position */

.institutional div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 20px 20px 20px;
}

.btn-products-view{
    background-color: #333232;
    color:#ffffff;
    padding: 8px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.btn-products-view:hover{
    opacity: 0.92;
}


/* Mission and vision */
.mission-and-vision{
    height: auto;
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.mission-and-vision-title{
    color: #ff7b00e1;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: left;
    margin:20px;
}

.mission-and-vision ul{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.mission-and-vision ul li{
    text-align: justify;
    list-style-type:disclosure-closed;
    list-style-position: inside;
}

.mission-and-vision ul li:first-child{
    margin-bottom: 10px;
}







/* Media queries */


@media (max-width: 800px){


    /* Burguer Menu*/

    .nav-menu{
        display:none !important;
    }

    .check-toggle:checked ~ .nav-menu{
        display: block !important;
        position: absolute;
        top:0;
        left:0;
        background-color: #333232;
        height: 100%;
        opacity: 0.95;
        padding:30px;
        transform: translate(-5px);
    }
    


    .nav-menu li{
        padding: 20px;
        border-bottom: #ccc solid 1px;
        font-size: 18px;
    }

    .nav-logo{
        width: 80px;
        box-shadow: 0px 0px 1px 2px #ffffff;
        border-radius: 2px;
        margin:auto;
    }    



    .nav-menu li{
        padding: 10px 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .business-name{
        font-size: 20px;
    }

    .home{
        display: block;
        margin:auto;
    }
}

