/* General Settings */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2389580a' fill-opacity='0.66' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}





/* Clases */


/* Contenedor principal del documento. Se utiliza para definir los margenes */
.container{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*Header of the page*/
.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin:auto;
    padding: 20px 65px;
    background-color: rgba(51, 50, 50,0.95);
    border-radius: 5px;
}


/* Img - logo */

.nav-logo{
    width: 80px;
    box-shadow: 0px 0px 1px 2px #ffffff;
    border-radius: 2px;
}

.nav-subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* Nav - words and search-button */

.nav-main{  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{  /*Only list item*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu li{
    padding: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu li a{ /*text format*/
    padding: 2px;
    color:white
}

.nav-menu li a:hover{
    border-bottom: 2px solid #ff7b00e1;
    color: #ff7b00e1;
}


/* Burguer Menu */
.menu-burguer-btn{
    color:white;
    z-index:2;
    font-size: 0.9rem;
    cursor: pointer;
    display:none;
}

.menu-burguer-btn{
    order:3;
}

.check-toggle{
    display: none;
}

/* search input */
.nav-search{
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-right: 25px;
    margin-left: 25px;
}

.nav-search input{
    height: 30px;
    width: 250px;
    background-color: #726f6f;
    color: white;
    border-radius: 5px;
    padding: 6px 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border-style: none;
    font-weight: 300;
}

.nav-search input::placeholder{
    color:#ccc;
    font-weight: 300;
}

.nav-search input:focus{
    outline:none;
    box-shadow: 0px 0px 5px 1px #101010;
}

.nav-search button{
    margin-left: 1px;
    height: 30px;
    width:40px;
    background-color: #5e5c5c;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.nav-search button:hover{
    background-color: #a1a1a1;
}





/* Main Info section */

.main-info{
    width:100%;
    height:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(51, 50, 50,0.95);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
}

.institutional{
    height: auto;
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
}

.left-institutional{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-institutional{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.team-photo-institutional{
    width:100%;
    border-radius: 5px;
}



.business-name{
    color: #ff7b00e1;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    margin:20px;
}

.institutional-presentation{
    display: block;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

/* Button position */

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 20px 20px 20px;
}

.btn-container button{
    margin: 0;
}

.btn-products-view{
    background-color: #0d043a;
    color:#ffffff;
    padding: 8px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-products-view:hover{
    opacity: 0.92;
    background-color: #723802e1;
}

.btn-contact-view{
    background-color: #0d043a;
    color:#ffffff;
    padding: 8px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-contact-view:hover{
    opacity: 0.92;
    background-color: #723802e1;
}


/* Mission and vision */
.mission-and-vision{
    height: auto;
    width: 90%;
    background-color: #d4d4d4;
    border-radius: 5px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.mission-and-vision-title{
    color: #ff7b00e1;
    letter-spacing: 1px;
    font-size: 24px;
    text-align: left;
    margin:20px;
}

.mission-and-vision ul{
    margin-left: 20px;
    margin-right: 20px;
}

.mission-and-vision ul li{
    text-align: justify;
    list-style-type:disclosure-closed;
    list-style-position: inside;
}

.mission-and-vision ul li:first-child{
    margin-bottom: 10px;
}

/* Team photo */

.photos-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
}

.photos-container img{
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* Contact footer */

.contact-footer{
    background-color: rgba(51, 50, 50,0.95);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-data{
    margin: 15px;
}


.contact-footer ul li{
    color: white;
    list-style-type: none;
    text-align: left;
    font-size: 14px;
    margin: 5px;
}








/* Media queries */


@media (max-width: 1050px){

    .main-header{
        flex-direction: column;
    }

    /* Search button */

    .nav-main{
        width: 100%;
    }

    .nav-search{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .nav-search input{
        width:100%;
    }

    .nav-subcontainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }


    /* Burguer Menu*/

    .menu-burguer-btn{
        display: block;
        margin: 0 0 0 20px;
    }

    .nav-menu{
        display: block;
        position: fixed;
        width: 45%;
        height: 100%;
        top:0px;
        left: -100%;
        transition: all .5s;
        background-color: rgba(51, 50, 50,0.95);
    }

    .nav-menu li{
        display: block;
        border-bottom: #ccc solid 1px;
        padding: 10px 0;
        margin-top: 25px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .nav-menu li a{
        font-size: 16px;
    }


    .check-toggle:checked ~ .nav-menu{
        left:0;
    }
    

    .nav-logo{
        width: 100%;
        max-width: 80px;
        object-fit: contain;
        box-shadow: 0px 0px 1px 2px #ffffff;
        border-radius: 2px;
    }    

    /* institutional section */

    .business-name{
        font-size: 20px;
    }

    .institutional{
        flex-direction: column;
    }

    .right-institutional{
        padding: 0 20px 20px 20px;
    }


    /* photos container */
    .photos-container{
        flex-direction: column;
        align-items: center;
    }

    .photos-container img{
        max-width: 600px;
    }


    /* Contact Form */

    .input-map-container{
        flex-direction: column;
        align-items: stretch !important;

    }

    .form-inputs-container{
        margin: 0 20px 20px 20px !important;
        width:auto !important;
    }

    .form-inputs-container textarea{
        min-width: 0 !important;
    }

    .location-map{
        align-self: stretch !important;
        margin-left: 20px;
        margin-right: 20px;
        width: auto !important;
    }

    .form-btn-container{
        margin-bottom: 0 !important;
    }


}



@media (max-width: 570px){

    .btn-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .btn-contact-view{
        margin-top:20px !important;
    }

    /* contact form buttons */

    .form-inputs-container input{
        width: 100% !important;
    }

}

@media (max-width:426px){
    .main-header{
        padding: 20px 20px;
        font-size: 12px;
    }

    .nav-subcontainer{
        justify-content: space-around;
    }


}



@media (max-width: 325px){

    .nav-main ul li a{  /*font style*/
        font-size: 12px;
    }

    .menu-burguer-btn{
        font-size: 12px;
    }

    .main-info span{
        font-size: 12px;    
    }

    .main-info h1{
        font-size: 14px;
    }

    .btn-container button{
        font-size: 10px;
    }

    .mission-and-vision li{
        font-size: 13px;
    }

    .main-header{
        padding: 5px 10px;
    }

    .home{
        margin-top:20px;
    }

    .nav-search{
        margin-bottom: 20px;
    }

    .nav-search input{
        font-size: 12px;
    }

    .contact-footer ul li{
        font-size: 12px;
    }

    /* Contact Buttons */
    .form-btn-container{
        flex-direction: column;
    }

    .form-btn-container a{
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

}